/**************************************************
*
*  Edit this CSS file for customization of Ephemeral
*
**************************************************/
html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -82px 0;
  /* Pad bottom by footer height */
  padding: 0 0 80px 0;
  width: 100%;
  overflow: hidden;
}

.inline
{
	display:inline;	
}

#footer {
  height: 80px;
  background-color: #f5f5f5;
}


#wrap > .center-container {
  padding: 50px 0 0 0;
  margin:0;
  overflow: auto;
}

#footer > .container {
  padding-top:5px
  padding-left: 15px;
  padding-right: 15px;
}



