/**************************************************
*
*  Edit this CSS file for customization of Ephemeral
*
**************************************************/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -82px 0;
  /* Pad bottom by footer height */
  padding: 0 0 80px 0;
}

/* Set the fixed height of the footer here */
#footer {
  height: 80px;
  background-color: #101010;
}

.column-sortable
{
	cursor: pointer;
}

.column-sortable:hover
{
	background-color:#E8E8E8
}

.inline
{
	display:inline;	
}

.styleless-button
{
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
}

#wrap > .center-container {
  padding: 50px 0 0 0;
  margin:0;
}

#footer > .container {
  padding-top:5px;
  padding-left: 15px;
  padding-right: 15px;
  color:white;
}

.home {
  background: url('img/northern-lights-iceland.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#333;
  color:#fff;
}

.searchForm {
  /*width:40%;*/
  margin:0 auto;
  display:inline;
  /*margin-left: 10%;*/
}

.search-buttons {
  margin-top: 5%;
}

.search-options {
  margin-top: 5%;
}

.default-search {
  width: 60%;
}

.admin-btn {
  margin-top: 10%;
  width: 100%;
}

.user-profile {
  color: #fff;
}

a {
  color:#fff;
}
a:focus, a:hover {
    color: #fff;
    text-decoration: underline;
}

.body-excerpt {
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
